.main{
	width: 1000px;
	height: 650px;
	border: 2px solid grey; 
	position: relative;
}
.menu{
	width: 1000px;
	height: 100px;
	background: #1b5589;
}
.img{
	position: absolute;
	width: 64px;
	right: 10px;
	top: 10px;

}
.first{
	list-style-type: none;
	position: relative;
	top: 30px;
	margin: 0px;
	left: 80px;
}
.first li{
	display: inline-block;
	margin: 10px;
}
.first li a{
	text-decoration: none;
	color: #7090b1;
	font-family: Arial;
}
.first li a:hover{
	color: white;
}
.setting{
	width: 1000px;
	height: 50px;
	display: flex;
	justify-content: center;
}
.secondmenu{
	position: relative;
	left: 50px;
	width: 900px;
	height: 50px;
	background: #cce5ff;
	border-radius: 5px;
}
.second{
	list-style-type: none;
	position: relative;
	top: 15px;
	display: flex;
	justify-content: space-around;
	padding: 0px;
	align-items: center;
}

.second li a{
	text-decoration: none;
	color: #32578f;
	font-family: Arial;
}
.second li a:hover{
	color: white;
}
.form img{
	width: 200px;
	position: relative;
	left: 60px;
}
button[type="photo"]{
	width: 150px;
	height: 30px;
	background: #6c757d;
	color: white;
	position: relative;
	top: 20px;
	left: -120px;
	border: none;
	border-radius: 5px;
}
.form1{
	position: relative;
	left: 300px;
	top: -220px;
	font-family: Arial;
}
.form1 ol{
	list-style-type: none;
	padding: 0px;
}
.form1 ol li input{
width: 300px;
height: 30px;
margin-top: 20px;
padding-left: 10px;
box-sizing: border-box;
border-radius: 5px;
}
.form1 ol li button{
width: 300px;
height: 30px;
margin-top: 20px;
background: #6c757d;
color: white;
border: none;
border-radius: 5px;
}
.form2{
	position: relative;
	left: 650px;
	top: -586px;
}
.form2 ol{
	list-style-type: none;
	padding: 0px;
}
.form2 ol li input{
width: 300px;
height: 30px;
margin-top: 20px;
padding-left: 10px;
box-sizing: border-box;
border-radius: 5px;
}
.form2 ol li button{
width: 300px;
height: 30px;
margin-top: 20px;
background: #6c757d;
color: white;
border: none;
border-radius: 5px;
}