body{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.ramka{
	width: 1024px;
	height: 10px;
	background: #1d1d1b;
}
.ramka2{
	width: 1024px;
	height: 10px;
	background: #dddddb;
}
.logo{
	background-image: url(img/logo.png);
	width: 203px;
	height: 55px;
	position: relative;
	left: 75px;
	top: 50px;
}
.logo a{
	display: block;
	width: 203px;
	height: 100%;
}
ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #3f3f3f;
	font-family: Arial;
}
ul li a:hover{
	text-decoration: underline;
	color: #000000;
}
li{
	list-style-type: none;
	display: inline-block;
    padding: 15px;
}
ul{
	float: right;
	position: relative;
	right: 100px;
	top:-20px;
}
.faq{
	background-image: url(img/faq.png);
	width: 82px;
	height: 154px;
	float: right;
	position: relative;
	top: -20px;
	right: 45px;
	z-index: 2;
}
.ramka3{
	background-image: url(img/words.png);
	width: 425px;
	height: 324px;
	float: right;
	position: relative;
	right: 120px;
	top:104px;
	display: block;
}
.peopleImg{
	background-image: url(img/peopleImg.png);
	width: 376px;
	height: 388px;
	float: right;
	position: relative;
	top: 40px;
	right: 40px;
	display: block;
}
.text{
  font-size: 30px;
  font-family: "Arial";
  color: rgb(29, 30, 27);
  font-variant: small-caps;
  text-align: center;
  position: absolute;
  left: 51px;
  top: 429.495px;
  z-index: 2;
}
.text1{
  font-size: 16px;
  font-family: "Arial";
  color: rgb(44, 120, 156);
  text-align: center;
  position: absolute;
  left: 223px;
  top: 460.776px;
  z-index: 2;
}
.block{
	position: relative;
	left: 36px;
	top: 50px;
	width: 315px;
	height: 154px;
	background-color: #2c789c;
}
.block1{
	position: relative;
	left: 351px;
	top: -104px;
	width: 315px;
	height: 154px;
	background-color: #e5b00d;

}
.clear{
	clear: both;
}
.block2{
	position: relative;
	left: 666px;
	top: -258px;
	width: 315px;
	height: 154px;
	background-color: #97ba15;

}
.box{
	position: relative;
	font-family: "Arial";
	top: 5px;
	left: 15px;
	font-size: 19px;
	color: white;
}
.box1{
	position: relative;
	font-family: "Arial";
	top: 15px;
	left: 15px;
	font-size: 14px;
	color: white;
}
.click{
	font-family:Arial Regular;
	position: absolute;
	width: 100px;
	height: 25px;
	bottom: 20px;
	left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 10px;
}
  a{
	font-size: 16px;
	text-decoration: none;
	color: black;
	display: block;
}
.click:hover{
	background: black;
	border: 1px solid white;
	cursor: pointer;
}
.click:hover a{
	color: white;
}
.box2{
	width: 47px;
	height: 47px;
	position: absolute;
	right: 12px;
	top:5px;
	background-image: url(img/blueImg.png);
}
.box5{
	width: 41px;
	height: 40px;
	position: absolute;
	right: 12px;
	top: 5px;
	background-image: url(img/yellowImg.png);
}
.box3{
	position: relative;
	font-family: "Arial";
	top: 5px;
	left: 28px;
	font-size: 19px;
	color: white;
}
.box4{
	position: relative;
	font-family: "Arial";
	top: 15px;
	left: 28px;
	font-size: 14px;
	color: white;
}
.click1{
	position: absolute;
	font-family:Arial Regular;
	width: 100px;
	height: 25px;
	bottom: 20px;
	left: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 10px;
}
.click1:hover{
	background: black;
	border: 1px solid white;
	cursor: pointer;
}
.click1:hover a{
	color: white;
}
.triangle-right {
	position: absolute;
	top: 42px;
	left: 0px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #2c789c;
	border-bottom: 20px solid transparent;
}
.triangle-right1 {
	position: absolute;
	top: 42px;
	left: 0px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #e5b00d;
	border-bottom: 20px solid transparent;
}
.box6{
	width: 32px;
	height: 31px;
	position: absolute;
	right: 12px;
	top: 5px;
	background-image: url(img/greenImg.png);
}
.block3{
	width: 988px;
	height: 270px;
	position: relative;
	top: -258px;
	left: 18px;
	background: white;
	border-radius: 0px 0px 10px 10px;
	z-index: 2;
}
.text2{
	font-family: Arial;
	font-size: 24px;
	position: relative;
	top: 22px;
	left: 35px;
}
.text3{
	font-family: Arial;
	font-size: 16px;
	position: absolute;
	top: 52px;
	left: 35px;
}
.text4{
	color: #7b7d78;
	font-family: Arial Regular;
	font-size: 16px;
	position: absolute;
	top: 108px;
	left: 35px;
}
.click2{
	position: absolute;
	font-family:Arial Regular;
	width: 100px;
	height: 25px;
	top: 216px;
	left: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	border-radius: 10px;
}
.click2 a{
	color: white;
}
.click2:hover{
	background: white;
	cursor: pointer;
}
.click2:hover a{
	color: black;
}
.text5{
	font-family: Arial;
	font-size: 24px;
	position: absolute;
	top: 22px;
	left: 655px;
}
.input{
	width: 250px;
	position: absolute;
	top: 56px;
	left:655px; 
}
.input input{
	width: 242px;
	height: 24px;
	padding-left: 12px;
}
.input input:nth-child(2){
	margin-top: 15px;
}
.input input:nth-child(3){
	margin-top: 15px;
}
.click3{
	position: absolute;
	font-family:Arial Regular;
	width: 100px;
	height: 25px;
	top: 216px;
	left: 657px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	border-radius: 10px;
}
.click3 a{
	color: white;
}
.click3:hover{
	background: white;
	cursor: pointer;
}
.click3:hover a{
	color: black;
}
.block4{
	width: 1024px;
	height: 600px;
	position: relative;
	background: #1d1e1b;
	top: -358px;
	z-index: 1;
}
.text4-1{
	position: relative;
	color: #b9b9b9;
	top: 125px;
	left: 40px;
	font-size: 16px;
	font-family: Arial;
}
.img{
	position: absolute;
	width: 287px;
	top: 153px;
	left: 40px;
	font-family: Arial Narrow;
	font-size: 13px;
	color: rgb(172, 172, 172);
	line-height: 1.4;
}
.text4-2{
	margin-top: 10px;
}
.click4{
	position: absolute;
	font-family:Arial Regular;
	width: 100px;
	height: 25px;
	top: 525px;
	left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2c789c;
	border-radius: 10px;
}
.click4 a{
	color: #c8d7e1;
}
.click4:hover{
	background: white;
	cursor: pointer;
	border: 1px solid #2c789c;
}
.click4:hover a{
	color: #2c789c;
}
.text4-3{
	position: absolute;
	color: #b9b9b9;
	top: 125px;
	left: 365px;
	font-size: 16px;
	font-family: Arial;
}
.img1{
	position: absolute;
	width: 287px;
	top: 153px;
	left: 365px;
	font-family: Arial Narrow;
	font-size: 13px;
	color: rgb(172, 172, 172);
	line-height: 1.4;
}
.text4-4{
	margin-top: 10px;
}
.click5{
	position: absolute;
	font-family:Arial Regular;
	width: 100px;
	height: 25px;
	top: 525px;
	left: 365px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2c789c;
	border-radius: 10px;
}
.click5 a{
	color: #c8d7e1;
}
.click5:hover{
	background: white;
	cursor: pointer;
	border: 1px solid #2c789c;
}
.click5:hover a{
	color: #2c789c;
}
.text4-5{
	position: absolute;
	color: #b9b9b9;
	top: 125px;
	left: 690px;
	font-size: 16px;
	font-family: Arial;
}
.img2{
	position: absolute;
	width: 109px;
	height: 79px;
	top: 153px;
	left: 690px;
}
.img3{
	position: absolute;
	width: 109px;
	height: 79px;
	top: 300px;
	left: 690px;
}
.img4{
	position: absolute;
	width: 109px;
	height: 79px;
	top: 450px;
	left: 690px;
}
.sulka a{
	color: #286581;
	position: absolute;
	top: 125px;
	left: 822px;
	font-family:Arial Narrow;
	font-size: 16px;
	text-decoration: underline;
}
.text4-6{
	color: #ffffff;
	position: absolute;
	top: 150px;
	left: 815px;
	font-size: 14px;
	font-family: Arial Narrow Bold;
}
.text4-7{
  font-size: 13px;
  font-family: "Arial Narrow";
  color: rgb(172, 172, 172);
  line-height: 1.308;
  position: absolute;
  left: 815px;
  top: 170px;
}
.sulka2 a{
	color: #286581;
	position: absolute;
	top: 220px;
	left: 815px;
	font-family:Arial Narrow;
	font-size: 13px;
	text-decoration: underline;
}
.text4-8{
	color: #ffffff;
	position: absolute;
	top: 297px;
	left: 815px;
	font-size: 14px;
	font-family: Arial Narrow Bold;
}
.text4-9{
  font-size: 13px;
  font-family: "Arial Narrow";
  color: rgb(172, 172, 172);
  line-height: 1.308;
  position: absolute;
  left: 815px;
  top: 317px;
}
.sulka3 a{
	color: #286581;
	position: absolute;
	top: 367px;
	left: 815px;
	font-family:Arial Narrow;
	font-size: 13px;
	text-decoration: underline;
}
.text4-10{
	color: #ffffff;
	position: absolute;
	top: 447px;
	left: 815px;
	font-size: 14px;
	font-family: Arial Narrow Bold;
}
.text4-11{
  font-size: 13px;
  font-family: "Arial Narrow";
  color: rgb(172, 172, 172);
  line-height: 1.308;
  position: absolute;
  left: 815px;
  top: 467px;
}
.sulka4 a{
	color: #286581;
	position: absolute;
	top: 517px;
	left: 815px;
	font-family:Arial Narrow;
	font-size: 13px;
	text-decoration: underline;
}
.block5{
	position: relative;
	top: -358px;
	background: linear-gradient(to top,#2f312d,#5b5c59);
	width: 1024px;
	height: 202px;
}
.text5-1{
	text-transform: uppercase;
	font-size: 19px;
	font-family: Arial;
	position: relative;
	top: 20px;
	left: 40px;
	color: #f6f6f6;
}
.text5-2{
	font-family: Arial Narrow;
	font-size: 13px;
	color: #94998f;
	position: absolute;
	left: 40px;
	top:45px; 

}
.sulka5 a{
	font-family: Arial Narrow;
	font-size: 16px;
	color: #2d6c8a;
	position: absolute;
	left: 40px;
	bottom: 25px; 
}
.text5-3{
	font-size: 19px;
	font-family: Arial;
	position: absolute;
	top: 20px;
	left: 365px;
	color: #f6f6f6;
}
.spisok ol li{
	font-size: 13px;
	font-family: Arial Narrow ;
	color: #94998f;
	position: relative;
	display: block;
	left: 335px;
	top:6px;
	margin-top: 15px;
	padding:0px;
}
.spisok1 ol li{
	font-size: 13px;
	font-family: Arial Narrow ;
	color: #94998f;
	position: relative;
	display: block;
	left: 655px;
	top:6px;
	margin-top: 15px;
	padding:0px;
}
.spisok1{
	position: relative;
	top: -148px;
}
.block6{
	width: 1024px;
	height: 152px;
	background: #131412;
	position: relative;
	top: -358px;
}
.menu li a{
	font-size: 16px;
	text-decoration: none;
	color: #9b9d99;
	font-family: Arial;
}
.menu li a:hover{
	color: #f4f4f4;
	text-decoration: none;
}
.menu li{
	list-style-type: none;
	display: inline-block;
    padding: 15px;
}
.menu{
	position: relative;
	right: 10px;
	top: 36px;
}
.footer{
	position: absolute;
	left: 40px;
	top: 68px;
	color: #9b9d99;
	font-family: Arial Narrow;
	font-size: 13px;
	border-right: 1px solid #9b9d99;
	padding-right: 15px;
}
.footer1{
	position: absolute;
	left: 140px;
	top: 68px;
	color: #9b9d99;
	font-family: Arial Narrow;
	font-size: 13px;
}